<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="/js/main.js" defer></script>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h2 class="page-heading"">Dashboard</h2>
        <div class="container">
            <div id="sidebar">
                <ul>
                    <li><a href="/pages/shorten-url">Shorten URL</a></li>
                    <li><a href="/api/urls/history/1/next">URLs History</a></li>
                </ul>
            </div>
            <div id="user-profile">
                <div class="profile-item">
                    <h3>Username</h3>
                    <p><%= user.username ? user.username : 'Not available' %></p>
                </div>
                <div class="profile-item">
                    <h3>Email</h3>
                    <p><%= user.email ? user.email : 'Not available' %></p>
                </div>
                <div class="profile-item">
                    <h3>Total URLs Created</h3>
                    <p><%= urlsCount ? urlsCount : 'Not available' %></p>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>